h1 {
  text-align: center;
  font-family: Lobster !important;
  font-size: 55px !important;
}
body {
  background-color: rgb(255, 204, 102) !important;
}
.push-top {
  margin-top: 15px;
}
.custom-container {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: #ffdd99;
  padding: 50px;
  height: 100%;
}
th {
  width: 100px;
  text-align: left;
  padding-right: 15px;
}
td {
  padding-right: 20px;
}
